<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Games</h1>
<table>
    <tr>
        <th>ID | </th>
        <th>Game | </th>
        <th>Genres | </th>
        <th>series | </th>
        <th>platform | </th>
        <th>Publisher | </th>
        <th>Engine | </th>
    </tr>
    <tr th:each="game : ${games}">
        <td th:text="${game.id}">123</td>
        <td th:text="${game.gameName}">A great pretender</td>
        <td th:text="${game.genres}">EMI</td>
        <td th:text="${game.series}">1988</td>
        <td th:text="${game.platform}">1988</td>
        <td th:text="${game.publisher.name}"></td>
        <td th:text="${game.engine.gameEngine}"></td>
    </tr>


</table>

<a href="/games">Games</a>
<a href="/engines">Engines</a>
<a href="/publishers">Publisher</a>
<a href="/shows">Show</a>

</body>
</html>